* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-image: url("https://assets.atdw-online.com.au/images/a11021df8ac18bcfc096922562e5b24f.jpeg?rect=222");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  backdrop-filter: blur(0.5rem);
}

p {
  font-size: 3rem;
  text-align: center;
  font-weight: 900;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
  text-shadow: 0.2rem 0.1rem rgb(17, 17, 17);
  color: red;
}
